<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View</title>
</head>
<body>
    <table>
        <tr>
            <td>Take API</td>
            <td><%= data.take_api %></td>
        </tr>
        <tr>
            <td>Lecture</td>
            <td><%= data.lecture %></td>
        </tr>
        <tr>
            <td>Class Name</td>
            <td><%= data.class_name %></td>
        </tr>
        <tr>
            <td>Method</td>
            <td><%= data.method %></td>
        </tr>
        <tr>
            <td>Port</td>
            <td><%= data.port %></td>
        </tr>
        <tr>
            <td>Returns</td>
            <td><%= data.returns %></td>
        </tr>
    </table>
</body>
</html>